# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle mcd-decode'
      'command': 'mcd-decode:decode'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'mcd-decode'
      'submenu': [
        {
          'label': 'Decode'
          'command': 'mcd-decode:decode'
        }
      ]
    ]
  }
]
